.abouts{
    background-color: aquamarine;
}
.skillset{
    font-family: "Cal Sans", sans-serif;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  color: black;
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
}